{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Equipment
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Aircrafts
      </li>
    </ol>
  </nav>
<div>
<h2>Aircraft - {{ aircraft.name }}</h2>
<br>
<p><img src="{{aircraft.photo}}" class="thumbnail"></p>
<br>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Operator</td>
        <td>{{ aircraft.operator.company_name }}</td>
    </tr>
    <tr>
        <td>Friendly Name</td>
        <td>{{ aircraft.name}}</td>    
    </tr>
    <tr>
        <td>Flight Controller Number (Drone ID)</td>
        <td><b>{{aircraft.flight_controller_id}}</b></td>
    </tr>
    <tr>
        <td>Manufacturer</td>
        <td><a href="/launchpad/manufacturers/{{aircraft.manufacturer.id}}/detail">{{aircraft.manufacturer.full_name}}</a></td>
    </tr>

    <tr>
        <td>Drone Status</td>
        <td> <div class="alert {% if aircraft.status == 1 %}alert-success{% else %}alert-danger{% endif %}" role="alert"> {{ aircraft.get_status_display }}</div></td>    
    </tr>
</table>
<br>
<p><a class="btn btn-primary" href="/launchpad/aircrafts/{{aircraft.id}}"><b>Update Details</b></a>&nbsp;&nbsp;{% if aircraft_extended %}<a class="btn btn-secondary" href="/launchpad/aircraft-extended/{{aircraft_extended.id}}/detail"><b>See extended details</b></a>{% endif %}&nbsp;&nbsp;{% if aircraft.components.all %}<a class="btn btn-secondary" href="/launchpad/aircrafts/{{aircraft.id}}/components"><b>See aircraft components</b></a>{% endif %}</p>

</div>
{% endblock %}