{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<div>
<h2>Aircraft - {{ aircraft.model }}</h2>
<br>
<p><img src="{{aircraft.photo}}" class="thumbnail"></p>
<br>
<table  class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Operator</td>
        <td>{{ aircraft.operator.company_name }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ aircraft.name}}</td>    
    </tr>
    <tr>
        <td>Flight Controller Number (Drone ID)</td>
        <td><b>{{aircraft.flight_controller_id}}</b></td>
    </tr>
    <tr>
        <td>Manufacturer</td>
        <td>{{aircraft.manufacturer.full_name}}</td>
    </tr>

    <tr>
        <td>Drone Status</td>
        <td> <div class="alert {% if aircraft.status == 1 %}alert-success{% else %}alert-danger{% endif %}" role="alert"> {{ aircraft.get_status_display }}</div></td>    
    </tr>
</table>
<br>
<p><a class="btn btn-primary" href="/launchpad/aircrafts/{{aircraft.id}}"><b>Update Details</b></a>&nbsp;&nbsp;{% if aircraft_extended %}<a class="btn btn-secondary" href="/launchpad/aircraft-extended/{{aircraft_extended.id}}/detail"><b>See extended details</b></a>{% endif %}</p>

</div>
{% endblock %}