{% extends "launchpad/layout.html" %} 
{% block navbreadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Trusted Flights
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Aircrafts
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}

<div class="row mb-3">
    
    <h2>Aircrafts</h2>
    <p>A list of all aircrafts owned and operated by the company, as you buy new aircraft, you can use this form to maintain a database of the equipment, decomission it, change engines etc.</p>
</div>

<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">

      <table class="table">
        <thead>
          <td><b>Aircraft</b></td>
          <td><b>Status</b></td>
          <td><b>Assembly Status</b></td>
          <td><b>Incidents</b></td>
        </thead>
        <tbody>
          {% if aircrafts.results %}
              {% for aircraft in aircrafts.results %}
          <tr>

            <td><a href="/launchpad/aircrafts/{{aircraft.id}}/detail">{{ aircraft.name }}</a>&nbsp;&nbsp;<small class='text-muted'></small></td>
            <td><button type="button" class="btn {% if aircraft.status == 1 %}btn-outline-success{% elif aircraft.status  == 0 %}btn-outline-warning{% endif %}" disabled>{% if aircraft.status == 1 %}Active{% elif aircraft.status  == 0 %}Disabled{% endif %}</button></td>
          <td><button type="button" class="btn {% if aircraft.assembly_status == 1 %}btn-outline-success{% elif aircraft.assembly_status  == 0 %}btn-outline-danger{% endif %}" disabled>{% if aircraft.assembly_status == 1 %}OK{% elif aircraft.assembly_status  == 0 %}Needs Review{% endif %}</button></td>
          <td><a class="btn btn-outline-dark" href="/launchpad/incidents/{{ aircraft.id }}/new">&#43; Report an incident</a></td>

          </tr>   
          {% endfor %}
          {% else %}
          <tr>

            <td><p class="text-muted"><i>There are no aircrafts added in Aerobridge, once added the list of aircrafts will be displayed here.</i></p></td>
            <td></td>
            <td></td>
            <td></td>

          </tr>   

          {% endif %}

        </tbody>
      </table>

      
    <br>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
          {% if aircrafts.links.previous %}
          
          <li class="page-item">
            <a class="page-link" href="{{ aircrafts.links.previous }}">Previous</a>
          </li>  
            
          {% else %}
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
          {% endif %}
          &nbsp;&nbsp;
          {% if aircrafts.pages %}  
          <li class="page-item" aria-current="page">
            
            <small>Page  {{aircrafts.page}} of {{ aircrafts.pages }} </small>
          </li>        
              <small></small>
          {% endif %}
          &nbsp;&nbsp;
          {% if aircrafts.links.next %}   
          <li class="page-item">
            <a class="page-link" href="{{ aircrafts.links.next }}">Next</a>
          </li>         
          
          {% else %}
          <li class="page-item disabled">
            <a class="page-link">Next</a>
          </li>
          {% endif %}
      </ul>
    </nav>

    <br><br>
    <p><a class="btn btn-primary" href="/launchpad/aircrafts/new"><b>&#43; Add a aircraft</b></a></p>
    
</div>
<div class="col-md-4 themed-grid-col"></div>
</div>
{% endblock %}