{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Equipment
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Aircraft Assembly Details
      </li>
    </ol>
  </nav>
<div>
<br>
<h2>Assembly for <a href="/launchpad/aircrafts/{{aircraft.id}}/detail">{{ aircraft.name }}</a></h2>
<br>
<p><img src="{{aircraft.photo}}" class="thumbnail"></p>
<br>
<div class="col-md-8 themed-grid-col">

  <ol class="list-group list-group-numbered list-group-flush">

    {% for component in aircraft.components.all %}
      <li class="list-group-item"><a href="/launchpad/aircraft-components/{{component.id}}/detail">{{ component.master_component.name }}</a> <mark>{{ component.get_custody_status_display }}</mark> <small class="text-muted">- last updated on {{ component.updated_at }}</small></li>
    {% endfor %}
  </ol>
  </div>
<br>

</div>
{% endblock %}