{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Manufacturing
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Aircraft Master Component Details
      </li>
    </ol>
  </nav>
  
<div class="alert alert-primary" role="alert">
  <span class="bi bi-bell-fill"></span> You are in the blueprints section of Aerobridge, make sure you read the instructions before proceeding. Changes here may cause disruptions in your manufacturing operations. 
</div>
<div>
<h2>Master Component Detail</h2>
<br>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Name</td>
        <td>{{aircraft_master_component.name }}</td>
    </tr>
    <tr>
        <td>Supplier Part ID</td>
        <td>{{ aircraft_master_component.family }}</td>
    </tr>
    {%if aircraft_master_component.drawing %}
    <tr>
        <td>Drawing</td>
        <td><a href="{{ aircraft_master_component.drawing }}" target="_blank">{{ aircraft_master_component.drawing }} <i class="bi bi-link"></i></a></td>    
    </tr>    
    {% endif %}
    
    <tr>
        <td>Stock Keeping</td>
        <td><a href="/launchpad/stock-keeping/{{ aircraft_master_component.id }}" target="_blank">Order more / check stocks &rarr;</a></td>    
    </tr>    
    
</table>
<p class="text-muted">Last Updated at {{aircraft_master_component.updated_at|date:'Y-m-d H:i' }} </p>
<hr>
<br>
<p><a class="btn btn-primary" href="/launchpad/aircraft-master-components/{{aircraft_master_component.id}}"><b>Update Details</b></a></p>
<br>

{% if aircraft_master_component.has_suppliers %}
<h4>Suppliers ({{aircraft_master_component.supplier_count}})</h4>
<ul class="list-group list-group-flush">
    {% for supplier_part in aircraft_master_component.suppliers.all %}     
        <li class="list-group-item"><a href="/launchpad/companies/{{ supplier_part.supplier.id}}/detail">{{ supplier_part.supplier.full_name}}</a></li>
    {%endfor %}
</ul> 
{% endif %}
<br>
{% if aircraft_master_component.has_manufacturers %}
<h4>Manufacturers ({{aircraft_master_component.manufacturer_count}})</h4>
<ul class="list-group list-group-flush">
    {% for manufactured_part in aircraft_master_component.manufacturers.all %} 
        <li class="list-group-item"><a href="/launchpad/companies/{{ manufactured_part.manufacturer.id}}/detail">{{ manufactured_part.manufacturer.full_name}}</a></li>
    {%endfor %}
</ul> 
{% endif %}
</div>
{% endblock %}