{% extends "launchpad/layout.html" %} 
{% block content %}

<div class="row mb-3">
    
    <h2>Flight Logs</h2>
    <p>See all the flight logs that can be submitted to Digital Sky, if a log does not appear here then it is most likely submitted to Digital Sky already.</p>
</div>
<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">

    <ul class="list-group list-group-flush">
        {% if flightlogs %}
            {% for flightlog in flightlogs %}
            <li class="list-group-item"><a href="/launchpad/digitalsky-flightlogs/{{flightlog.id}}">{{ flightlog.operation.name }}</a>&nbsp;&nbsp;<small>&mdash; Last updated at {{ flightlog.updated_at|date:'Y-m-d H:i' }} </small></li>
            {% endfor %}
        {% else %}
            <li class="list-group-item"><p class="text-muted"><i>There are no flight logs added in Aerobridge, once added the list of flight logs will be displayed here.</i></p></li>
        {% endif %}

    </ul>
    <br>    

</div>
<div class="col-md-4 themed-grid-col"></div>
</div>
{% endblock %}