DJANGO_SECRET='___LONG__SECRET___'

PASSPORT_AUDIENCE=testflight.aerobridge.in
PASSPORT_DOMAIN=id.openskies.sh
PASSPORT_TOKEN_URL=/oauth/token/
PASSPORT_URL=https://id.openskies.sh

CRYPTOGRAPHY_SALT='__GET_FERNET_KEY'  

S3_ACCESS_KEY='__S3_ACCESS_KEY__'
S3_SECRET_KEY='__S3_SECRET_KEY__'
S3_REGION_NAME = '__S3_REGION_NAME__'
S3_ENDPOINT_URL = '__S3_ENDPOINT_URL__'
S3_BUCKET_NAME = '__S3_BUCKET_NAME__'