Django==4.0.3
djangorestframework==3.13.1
cryptography==36.0.1
pyjwt==2.3.0
requests===2.27.1
python-dotenv==0.19.2
psycopg2-binary==2.9.3
django-heroku==0.3.1
python-dateutil==2.8.2
gunicorn==20.1.0
python-jose==3.3.0
arrow==1.2.2
celery==5.2.3
django-cors-headers==3.11.0
django-extensions==3.1.5
Shapely==1.8
pydot==1.4.2
django-crispy-forms==1.14.0
crispy-bootstrap5==0.6
faker===12.1.0
django-simple-history==3.0.0
boto3==1.20.51
geojson==2.5.0
uritemplate==4.1.1
pyyaml==6.0