Django
djangorestframework
markdown
cryptography
django-filter
django-cors-headers
drf-jwt
pyjwt
requests
python-dotenv
django-heroku
python-dateutil
gunicorn
psycopg2-binary
gunicorn
python-jose
django-cors-headers