{% extends "launchpad/layout.html" %} 
{% block navbreadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Manufacturing
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Firmwares
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}

<div class="alert alert-primary" role="alert">
  <span class="bi bi-bell-fill"></span> You are in the blueprints section of Aerobridge, make sure you read the instructions before proceeding. Changes here may cause disruptions in your manufacturing operations. 
</div>
<div class="row mb-3">
    
    <h2>Firmware</h2>
    <p>Use these pages to store or link to released firmwares, and their hashes</p>
</div>
<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">

    <ul class="list-group list-group-flush">
        {% if firmwares %}
            {% for firmware in firmwares %}
            <li class="list-group-item"><a href="/launchpad/firmwares/{{firmware.id}}/detail">{{ firmware.manufacturer }} - {{ firmware.version }}.</a>&nbsp;&nbsp;<small class="text-muted">&mdash; Last updated at {{ firmware.created_at }} </small></li>
            {% endfor %}
        {% else %}
            <li class="list-group-item"><p class="text-muted"><i>There are no firmwares added in Aerobridge, once added the list of firmwares will be displayed here.</i></p></li>
        {% endif %}        
    </ul>
    <br>
    <p><a class="btn btn-primary" href="/launchpad/firmwares/new"><b>&#43; Add a firmware</b></a></p>
</div>
<div class="col-md-4 themed-grid-col"></div>
</div>
{% endblock %}