{% extends "launchpad/layout.html" %}
{% load rest_framework %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Operators
      </li>
      <li class="breadcrumb-item active" aria-current="page">
       Addresses
      </li>
    </ol>
  </nav>
<div class="row mb-3">
<h2> Update Address </h2>
</div>
<div class="row mb-3">
    <div class="col-md-6 themed-grid-col">
        <form action="{% url 'addresses-detail' address_id=address.pk %}" method="POST">
            {% csrf_token %}
            {% render_form serializer %}
            <br>
            <button class="btn btn-primary" type="submit" value="Update">Update</button>&nbsp;&nbsp;<a class="btn btn-secondary" href="{% url 'addresses-list' %}" role="button">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}