{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<div>
<h1>Manufacturer Details - {{ manufacturer.common_name }}</h1>
<br>
<p></p>
<br>
<table  class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Company Name</td>
        <td>{{ manufacturer.full_name}} ({{ manufacturer.common_name}})</td>    
    </tr>
    <tr>
        <td>Role</td>
        <td>{{ manufacturer.role}}</td>    
    </tr>
    <tr>
        <td>Address</td>
        <td>{{ manufacturer.address}}</td>    
    </tr>
   
    

</table>
<p class="text-muted">Last Updated at {{manufacturer.updated_at }} </p>
<br>
<p><a class="btn btn-primary" href="/launchpad/manufacturers/{{manufacturer.id}}"><b>Update Details</b></a></p>

</div>
{% endblock %}