{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}


<h2>Contact Details</h2>
<br>
<p><img src="{{contact.photo}}"></p>
<br>
<table  class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tr>
        <td>Type</td>
        <td>{{ contact.get_role_type_display }}</td>    
    </tr>
    <tr>
        <td>Operator</td>
        <td>{{ contact.operator.company_name }}</td>
    </tr>
    <tr>
        <td>Full Name</td>
        <td><b>{{contact.person.first_name}} {{contact.person.last_name}}</b></td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{contact.address.address_line_1}}, {{contact.address.city}}</td>
    </tr>
    
</table>
<br>
<p><a class="btn btn-primary" href="/launchpad/contacts/{{contact.id}}"><b>Update Details</b></a></p>


{% endblock %}