{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<div>
<h1>Authorization Details</h1>
<br>

<table  class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Name</td>
        <td>{{ authorization.title }}</td>
    </tr>
    <tr>
        <td>Operation Max Height</td>
        <td>{{ authorization.operation_max_height }}</td>    
    </tr>
    <tr>
        <td>Operation Altitude system</td>
        <td>{{ authorization.get_operation_altitude_system_display }}</td>    
    </tr>
    <tr>
        <td>Airspace Type</td>
        <td>{{ authorization.get_airspace_type_display }}</td>    
    </tr>
   
    <tr>
        <td>Risk Type</td>
        <td>{{ authorization.get_risk_type_display }}</td>    
    </tr>
   
   
    <tr>
        <td>Authorization Type</td>
        <td>{{ authorization.get_authorization_type_display }}</td>    
    </tr>
   
   
</table>
<br>
<p><a class="btn btn-primary" href="/launchpad/authorizations/{{authorization.id}}"><b>Update Details</b></a></p>

</div>
{% endblock %}