{% extends "launchpad/layout.html" %} 
{% block navbreadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Credentials
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        All
      </li>
    </ol>
  </nav>
{% endblock %}
{% block content %}

<div class="row mb-3">
    
    <h2>Credentials</h2>
    <p>You can store credentials, keys for the drone, Digital Sky or other services here. </p>
</div>
<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">

    <ul class="list-group list-group-flush">
        <ul class="list-group list-group-flush">
        {% if credentials.results %}
            {% for credential in credentials.results %}
            <li class="list-group-item"><a href="/launchpad/credentials/{{credential.id}}/detail">{{ credential.association }} - {{ credential.name }}</a>&nbsp;&nbsp;<small class="text-muted">&mdash; Created on {{ credential.created_at }} </small></li>
            {% endfor %}
        {% else %}
            <li class="list-group-item"><p class="text-muted"><i>There are no credentials added in Aerobridge, once added the list of credentials will be displayed here.</i></p></li>
        {% endif %}

    </ul>
    <br>
    
    <nav aria-label="Page navigation example">
      <ul class="pagination">
          {% if credentials.links.previous %}
          
          <li class="page-item">
            <a class="page-link" href="{{ credentials.links.previous }}">Previous</a>
          </li>  
            
          {% else %}
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
          {% endif %}
          &nbsp;&nbsp;
          {% if credentials.pages %}  
          <li class="page-item" aria-current="page">
            
            <small>Page  {{credentials.page}} of {{ credentials.total }} </small>
          </li>        
              <small></small>
          {% endif %}
          &nbsp;&nbsp;
          {% if credentials.links.next %}   
          <li class="page-item">
            <a class="page-link" href="{{ credentials.links.next }}">Next</a>
          </li>         
          
          {% else %}
          <li class="page-item disabled">
            <a class="page-link">Next</a>
          </li>
          {% endif %}
      </ul>
    </nav>
    <br>
    <p>&nbsp;</p>
    <p><a class="btn btn-primary" href="/launchpad/credentials/new"><b>&#43; Add a Credential</b></a></p>

</div>
<div class="col-md-4 themed-grid-col"></div>
</div>
{% endblock %}