{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Credentials
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Aerobridge Credential
      </li>
    </ol>
  </nav>
<div>
<h1>Credential Detail - {{ serializer.name }}</h1>
<br>
<table  class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Name</td>
        <td><pre>{{serializer.name }}</pre></td>
    </tr>
    <tr>
        <td>Type</td>
        <td><pre>{{serializer.token_type }}</pre></td>
    </tr>
    <tr>
        <td>Is Active</td>
        <td>{{ serializer.is_active}}</td>    
    </tr>
    <tr>
        <td>Association</td>
        <!-- <td>{{ credential.get_association_display }}</td> -->
        <td>{{ serializer.association }}</td>
    </tr>
    
    
</table>
<br>
<p class="text-muted">Created at - {{serializer.created_at}} </p>
<br>
<p><a class="btn btn-primary" href="/launchpad/credentials/{{serializer.id}}"><b>Update Details</b></a></p>

</div>
{% endblock %}