{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Credentials
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Aerobridge Credential
      </li>
    </ol>
  </nav>
<div>
<h1>Credential Detail - {{ credential.name }}</h1>
<br>
<table  class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Name</td>
        <td><pre>{{credential.name }}</pre></td>
    </tr>
    <tr>
        <td>Type</td>
        <td><pre>{{credential.get_token_type_display }}</pre></td>
    </tr>
    <tr>
        <td>Is Active</td>
        <td>{{ credential.is_active}}</td>    
    </tr>
    <tr>
        <td>Association</td>
        <td>{{ credential.get_association_display }}</td>
    </tr>
    
    
</table>
<br>
<p class="text-muted">Created at - {{credential.created_at|date:'Y-m-d H:i'}} </p>
<br>
<p><a class="btn btn-primary" href="/launchpad/credentials/{{credential.id}}"><b>Update Details</b></a></p>

</div>
{% endblock %}