{% extends "launchpad/layout.html" %}
{% load rest_framework %}
{% load static %}
{% block content %}
<div class="row mb-3">
    <h2>Get started with Credentials</h2><p> Proceed cautiously, if you dont know what you are doing, Stop! </p>
    <p>While public key cryptography is a well documented area of computing, we assume that you know the basics and understand the risks associated with storing keys on a public facing server. If you dont, get a professional to review / understand the implications. </p><p>While Aerobridge stores the keys with simple security which should suffice for simpler non-production applications. For production use, we recommend using a system such as <a href="https://www.hashicorp.com/products/vault">Hashicorp Vault</a> to store / manage secrets, we can help you with the setup, see the contact form below:</p><br><br>
</div>
<div class="row mb-3">
    <ol class="list-group list-group-numbered">
        <li class="list-group-item">Create a public / private key for you any pilot / operator</li>
        <li class="list-group-item">You can use a following commands to create a public / private key pair.<br><br>
            <code>
            ssh-keygen -t rsa -b 4096 -m PEM -f operator.key
        </code><br><code>
            openssl rsa -in operator.key -pubout -outform PEM -out operator.key.pub

        </code><br><br>
        </li>     
        <li class="list-group-item">The above code will generate a public key in PEM format and a private key <mark>operator.key</mark>. These are confidential files and can then be stored in Aerobridge via the <a href="/launchpad/credentials">Tokens Manager</a>. Private keys should not be stored in the server.</li>       
    
    </ol>
</div>
{% endblock %}