{% extends "launchpad/layout.html" %}
{% load rest_framework %}
{% block content %}
<div class="row mb-3">
    <h1>Permission Details</h1>
    <p>Please find below the details of flight permission artefacts applied downloaded from Digital Sky.</p>
    <br>
</div>
<div  class="row mb-3">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tr>
            <td>Operation</td>
            <td><a href="/launchpad/flightoperations/{{ flightpermission.operation.id }}/detail">{{ flightpermission.operation.name }}</a>
            </td>
        </tr>
        <tr>
            <td>Status Code</td>
            <td><mark>{{ flightpermission.status_code }}</mark></a>
            </td>
        </tr>        
        <tr>
            <td>Permission Token</td>
            <td> 
                <code class="text-break">{{ flightpermission.token }}</code>                
            </td>
        </tr>
    </table>
    <p class="text-muted">Created At - {{ flightpermission.created_at }}</p>
</div>
{% endblock %}