{% extends "launchpad/layout.html" %} 
{% block navbreadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Companies
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        All Companies
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}

<div class="row mb-3">
    
    <h2>Companies</h2>
    <p>You may choose to source drones and their firmware via different manufacturers, or assemble / manufacture it yourself. You will be able to link a Manufacturer to a Aircraft and Firmware.</p>
</div>
<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
    {% if companies %}
        <ul class="list-group list-group-flush">
        {% for company in companies %}
        <li class="list-group-item"><a href="/launchpad/companies/{{company.id}}/detail">{{ company.full_name }}</a>&nbsp;&nbsp;<mark>{{ company.get_role_display}}</mark></li>
        {% endfor %}
    {% else %}
        <li class="list-group-item"><p class="text-muted"><i>There are no companies added in Aerobridge, once added the list of companies will be displayed here.</i></p></li>
    {% endif %}

        
    </ul>
    <br><br>
    <p><a class="btn btn-primary" href="/launchpad/companies/new"><b>&#43; Add a Company</b></a></p>
</div>
<div class="col-md-4 themed-grid-col"></div>
</div>
{% endblock %}