{% extends "launchpad/layout.html" %} 
{% block navbreadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Operations
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        All Companies
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}

<div class="row mb-3">
    
    <h2>Companies</h2>
    <p>A list of all companies, their manufactured and / or supplied parts.</p>
</div>
<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
    {% if companies %}
        <ul class="list-group list-group-numbered">
        {% for company in companies %}
        <li class="list-group-item"><a href="/launchpad/companies/{{company.id}}/detail">{{ company.full_name }}</a>&nbsp;&nbsp;<mark>{{ company.get_role_display}}</mark>&nbsp;&nbsp;{% if company.role == 0 %}<strong>Parts Supplied</strong>: {{company.supplied_part_count}}{% elif company.role == 1 %}<strong>Parts Manufactured</strong>: {{company.manufactured_part_count}}{%endif%}</li>
        {% endfor %}
    {% else %}
        <li class="list-group-item"><p class="text-muted"><i>There are no companies added in Aerobridge, once added the list of companies will be displayed here.</i></p></li>
    {% endif %}

        
    </ul>
    <br><br>
    <p><a class="btn btn-primary" href="/launchpad/companies/new"><b>&#43; Add a Company</b></a></p>
</div>
<div class="col-md-4 themed-grid-col"></div>
</div>
{% endblock %}