{% extends "launchpad/layout.html" %} 
{% load rest_framework %}

{% block navbreadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Operations
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Company Details
      </li>
    </ol>
  </nav>
{% endblock %}
{% block content %}
<h2>Company Details - {{ company.common_name }}</h2>
<p></p>
<br>
<table  class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>ID</td>
        <td><code>{{ company.id}}</code></td>    
    </tr>
    <tr>
        <td>Company Name</td>
        <td>{{ company.full_name}} ({{ company.common_name}})</td>    
    </tr>
    <tr>
        <td>Address</td>
        <td>{{ company.address}}</td>    
    </tr>

    <tr>
        <td>Role</td>
        <td><mark>{{ company.get_role_display}}</mark></td>    
    </tr>
</table>
<p class="text-muted">Last Updated at {{company.updated_at|date:'Y-m-d H:i' }} </p>
<br>
<p><a class="btn btn-primary" href="/launchpad/companies/{{company.id}}"><b>Update Details</b></a></p>
<br>
{% if company.has_manufactured_parts %}
<h4>Parts Manufactured ({{company.manufactured_part_count}})</h4>
<ul class="list-group list-group-numbered">
    {% for manufactured_part in company.manufactured_parts.all %}
        <li class="list-group-item"><a href="/launchpad/aircraft-master-components/{{ manufactured_part.master_component.id}}/detail">{{ manufactured_part.master_component.name}}</a></li>
    {%endfor %}
</ul> 
<br>
{% endif %}
{% if company.has_supplied_parts %}
<h4>Parts Supplied ({{company.supplied_part_count}})</h4>
<ul class="list-group list-group-numbered">
    {% for supplied_part in company.supplied_parts.all %}     
        <li class="list-group-item"><a href="/launchpad/aircraft-master-components/{{ supplied_part.manufacturer_part.master_component.id}}/detail">{{ supplied_part.manufacturer_part.master_component.name}}</a></li>
    {%endfor %}
</ul> 
{% endif %}

{% endblock %}