{% extends "launchpad/layout.html" %}
{% load rest_framework %}
{% load static %}
{% block content %}
<div class="row mb-3">
    <h2>Get started with Aerobridge Assembly / Manufacturing</h2>
    <p>Aerobridge gives you the ability manage assembly and manufacturing of drone and its components:</p><br><br>
</div>
<div class="row mb-3">
    <ol class="list-group list-group-numbered">
       
        <li class="list-group-item">The following image shows how objects for manufacturing work internaly. A model and master Bill of Materials (BOM) is created (on left). 
            
        </li>
        <li class="list-group-item">On the right assembled equipment as objects in the data are created. 

        </li>
        <li class="list-group-item">
            <img src="{% static "jetway/images/manufacturing-read-first.png" %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">
        </li>
    </ol>
</div>

{% endblock %}