{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% load static %}{% load i18n %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Flights
      </li>
      <li class="breadcrumb-item active" aria-current="page">
       Flight Operation Detail
      </li>
    </ol>
  </nav>
<!-- Bootstrap core CSS -->
<link href="{% static "jetway/leafletjs/leaflet.css" %}" rel="stylesheet">    


<div>
<h2>{{ flightoperation.name }}</h2>
<table  class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Operator </td>
        <td><a href="/launchpad/operators/{{ flightoperation.operator.id}}/detail">{{ flightoperation.operator.company_name }}</a></td>
    </tr>
    <tr>
        <td>Drone </td>
        <td><a href="/launchpad/aircrafts/{{ flightoperation.drone.id}}/detail">{{ flightoperation.drone.model }}</a></td>
    </tr>
    <tr>
        <td>Flight Path / Area</td>
        <td><div id="flight_plan" class="map"></div></td>    
    </tr>
    <tr>
        <td>Type of Operation</td>
        <td>{{ flightoperation.get_type_of_operation_display}}</td>
    </tr>
    </tr>
    <tr>
        <td>Purpose</td>
        <td>{{ flightoperation.purpose}}</td>
    </tr>
    <tr>
        <td>Pilot</td>
        <td><a href="/launchpad/people/{{ flightoperation.pilot.person.id}}/detail">{{ flightoperation.pilot.person.first_name}} {{ flightoperation.pilot.person.last_name}}</a></td>
    </tr>
    </tr>
    <tr>
        <td>Operation Start</td>
        <td><p class="text-muted">{{ flightoperation.start_datetime }}</p></td>
    </tr>
    <tr>
        <td>Opearation End</td>
        <td><p class="text-muted">{{ flightoperation.end_datetime }}</p></td>
    </tr>

</table>

<p class="text-muted">Last Updated at {{ flightoperation.updated_at|date:'Y-m-d H:i' }} </p>
<br>
{% if flightoperation.is_editable %}
    <p><a class="btn btn-primary" href="/launchpad/flightoperations/{{flightoperation.id}}"><b>Update Details</b></a>&nbsp;&nbsp;{% if not flightpermission %}<a class="btn btn-primary" href="/launchpad/flightoperations/{{flightoperation.id}}/permission"><b>Issue Flight Permission</b></a>{% else %}<a class="btn btn-secondary" href="/launchpad/flightpermissions/{{flightpermission.id}}/detail"><b>See Flight Permission</b></a>{% endif %}</p>
    
{% else %}    
    <p class='text-muted'>This Flight Operation has a permission associated with it and therefore it cannot be edited.</p><p>{% if not flightpermission %}<a class="btn btn-primary" href="/launchpad/flightoperations/{{flightoperation.id}}/permission"><b>Issue Flight Permission</b></a>{% else %}<a class="btn btn-secondary" href="/launchpad/flightpermissions/{{flightpermission.id}}/detail"><b>See Flight Permission</b></a>{% endif %}</p>
{% endif %}


</div>

<script src="{% static "jetway/leafletjs/leaflet.js" %}"  type="text/javascript"></script>
<script type="text/javascript">
    var map = L.map('flight_plan', {zoomControl: false,   doubleClickZoom: false, 
        closePopupOnClick: false, 
        dragging: false, 
        trackResize: false,
        touchZoom: false,
        scrollWheelZoom: false});        
        var fg = L.featureGroup().addTo(map);
        let geo_json = {{flightoperation.flight_plan.geo_json|safe}};
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        
        L.geoJSON(geo_json).addTo(fg);
        map.fitBounds(fg.getBounds());
    

</script>


{% endblock %}