{% extends "launchpad/layout.html" %} 
{% block navbreadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Flights
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Operations
      </li>
    </ol>
  </nav>
{% endblock %}
{% block content %}

<div class="row mb-3">
    
    <h2>Flight Operations</h2>
    <p>See all the flight operations </p>
</div>
<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
        {% if flightoperations.results %}
        <ul class="list-group list-group-flush">
            {% for flightoperation in flightoperations.results %}
            <li class="list-group-item"><a href="/launchpad/flightoperations/{{flightoperation.id}}/detail">{{ flightoperation.name }}</a>&nbsp;&nbsp;<small class='text-muted'>&mdash; Last updated at {{ flightoperation.updated_at|date:'Y-m-d H:i' }} </small></li>
            {% endfor %}
        {% else %}
            <li class="list-group-item"><p class="text-muted"><i>There are no flight operations added in Aerobridge, once added the list of flight operations will be displayed here.</i></p></li>
        {% endif %}

        
    </ul>
    <br>
    <br>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
          {% if flightoperations.links.previous %}
          
          <li class="page-item">
            <a class="page-link" href="{{ flightoperations.links.previous }}">Previous</a>
          </li>  
            
          {% else %}
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
          {% endif %}
          &nbsp;&nbsp;
          {% if flightoperations.pages %}  
          <li class="page-item" aria-current="page">
            
            <small>Page  {{flightoperations.page}} of {{ flightoperations.pages }} </small>
          </li>        
              <small></small>
          {% endif %}
          &nbsp;&nbsp;
          {% if flightoperations.links.next %}   
          <li class="page-item">
            <a class="page-link" href="{{ flightoperations.links.next }}">Next</a>
          </li>         
          
          {% else %}
          <li class="page-item disabled">
            <a class="page-link">Next</a>
          </li>
          {% endif %}
      </ul>
    </nav>
    <br><br>
    <p><a class="btn btn-primary" href="/launchpad/flightoperations/new"><b>&#43; Add a new flight operation</b></a></p>
</div>
<div class="col-md-4 themed-grid-col"></div>
</div>
{% endblock %}