{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row mb-3">
    <div class="col-md-6 themed-grid-col">


    <h2>Add new Flight Operation</h2>
    <p>Create a new flight operation, link it to a flight plan and get permission artefacts against those operations</p>
    <form action="" method="post">
        {% csrf_token %}
        {% if form.errors %}
            {{ form|crispy }}    
            <button type="submit" class="btn btn-primary">+ Add Operation</button>&nbsp;<a class="btn btn-secondary" href="{% url 'flightoperations-list' %}" role="button">Cancel</a>
        {% else %}
            {% crispy form %}
        {% endif %}
        
        
    </form>
</div>
<div class="col-md-6 themed-grid-col"></div>
</div>
{% endblock %}