{% extends "launchpad/layout.html" %} 
{% load static %}

    
{% block custom_css %}
<link href="{% static "jetway/css/cal.css" %}" rel="stylesheet">   
{% endblock %}
{% block navbreadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Flights
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Operations Calendar
      </li>
    </ol>
  </nav>
{% endblock %}
{% block content %}

    <h2>Flight Operations Calendar</h2>
    <p>See all the flight operations in a calendar view, use the month controls to navigate and see past and future operations</p>

  {{ calendar }}

  <div class="btn-group" role="group" aria-label="Calender buttons">
    <a class="btn btn-primary" href="{% url 'flightoperations-calendar' %}?{{ prev_month }}"> Previous Month </a>
    <a class="btn btn-primary" href="{% url 'flightoperations-calendar' %}?{{ next_month }}"> Next Month </a>
  </div>

{% endblock %}