{% extends "launchpad/layout.html" %} 
{% block content %}

<div class="row mb-3">
    
    <h2>Digital Sky Transactions list</h2>
    <p>See the transaction objects for Digital Sky interactions, every call to Digital Sky is associated with a transaction and is assigned automatically by the server, you cannot add or edit transactions the newest is at the top.</p>
</div>
<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">

    <ul class="list-group list-group-flush">
        {% for digitalskytransaction in digitalskytransactions %}
        <li class="list-group-item"><a href="/launchpad/digitalsky-transactions/{{digitalskytransaction.id}}">{{ digitalskytransaction.aircraft.model}} {{ digitalskytransaction.aircraft.operator.company_name }}</a>&nbsp;&nbsp;<mark>{{ digitalskytransaction.prefix}}</mark>&nbsp;&nbsp;<small class="text-muted">&mdash; Last updated at {{ digitalskytransaction.created_at|date:'Y-m-d H:i' }} </small></li>
        {% endfor %}        
    </ul>
    <br>
    
</div>
<div class="col-md-4 themed-grid-col"></div>
</div>
{% endblock %}