{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Equipment
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Master Component Details
      </li>
    </ol>
  </nav>
<div>
<h2>Master Components for <a href="/launchpad/aircraft-models/{{aircraft_model.id}}/detail">{{ aircraft_model.name }}</a></h2>
<p>Below is a list of master components for the F1 drone: </p> 
<br>

<table  class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>

    {% for component in aircraft_model.master_components.all %}
    <tr>
        <td><a href="/launchpad/aircraft-master-components/{{component.id}}/detail">{{ component.name }}</a></td>
    </tr>
    {% endfor %}
    
</table>
<br>

</div>
{% endblock %}