{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Equipment
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Master Component Details
      </li>
    </ol>
  </nav>
<div>
<h2>Master Components list for <a href="/launchpad/aircraft-models/{{aircraft_model.id}}/detail">{{ aircraft_model.name }}</a></h2>
<br>
<p>Below is a list of master components for the F1 drone: </p> 


<div class="row mb-3">
  <div class="col-md-8 themed-grid-col">
  <ol class="list-group list-group-flush list-group-numbered">
    {% for component in aircraft_model.master_components.all %}
      <li class="list-group-item"><a href="/launchpad/aircraft-master-components/{{component.id}}/detail">{{ component.name }}</a></li>
    {% endfor %}
  </ol>
</div>
</div>
<br>

</div>
{% endblock %}