{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<div class="alert alert-primary" role="alert">
  <span class="bi bi-bell-fill"></span> You are in the blueprints section of Aerobridge, make sure you read the instructions before proceeding. Changes here may cause disruptions in your manufacturing operations. 
</div>
{% load crispy_forms_tags %}
<div class="row mb-3">
    <div class="col-md-6 themed-grid-col">

    <h2>Add a new model</h2>
    <p>Create a new model of aircraft to manufacture / assemble.</p>

    <form action="" method="post">
        {% csrf_token %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {% crispy form %}       
       
    </form>
</div>
<div class="col-md-6 themed-grid-col"></div>
</div>
{% endblock %}