{% extends "launchpad/layout.html" %} 
{% block navbreadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Manufacturing
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Aircraft Models
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}

<div class="row mb-3">
    
    <h2>Aircraft Models</h2>
    <p>A list of all the aircraft models built / assembled by the company, a model will have a associated list of master components.</p>
</div>
<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
      <ul class="list-group list-group-flush">
          {% if aircraft_models %}
              {% for aircraft_model in aircraft_models.results %}
              <li class="list-group-item"><a href="/launchpad/aircraft-models/{{aircraft_model.id}}/detail">{{ aircraft_model.name }} - Series {{ aircraft_model.series }}</a>&nbsp;&nbsp; <a class="btn btn-outline-dark" href="/launchpad/aircraft-assemblies/{{ aircraft_model.id }}/new"><b>&#43; Create a new assembly</b></a></li>
              {% endfor %}
          {% else %}
              <li class="list-group-item"><p class="text-muted"><i>You have not added any models to assemble / manufacture, once added the list of the models will be displayed here.</i></p></li>
          {% endif %}
          
      </ul>
      

    <br><br>
    <br>
    <p><a class="btn btn-primary" href="/launchpad/aircraft-models/new"><b>&#43; Add new Aircraft Model or Series</b></a></p>
    
</div>
  <div class="col-md-4 themed-grid-col"></div>
</div>
{% endblock %}