{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Trusted Flights
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Aircraft Extended Details
      </li>
    </ol>
  </nav>
<div>
<h3>Extended detail for <a href="/launchpad/aircrafts/{{aircraft_extended.aircraft.id}}/detail">{{ aircraft_extended.aircraft.name }}</a></h3>

<br>
<p><img src="{{aircraft_extended.aircraft.photo}}" class="thumbnail"></p>
<br>
<table  class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    
    <tr>
        <td>Registration Mark</td>
        <td>{{ aircraft_extended.registration_mark}}</td>    
    </tr>
    <tr>
        <td>Commission Date</td>
        <td>{{ aircraft_extended.commission_date|date:'Y-m-d' }}</td>    
    </tr>
    
</table>
<br>
<p><a class="btn btn-primary" href="/launchpad/aircraft-extended/{{aircraft_extended.id}}"><b>Update Details</b></a></p>

</div>
{% endblock %}