{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<div>
<h2>Extended detail for Aircraft - <a href="/launchpad/aircrafts/{{aircraft_extended.aircraft.id}}/detail">{{ aircraft_extended.aircraft.model }}</a></h2>
<br>
<p><img src="{{aircraft_extended.aircraft.photo}}" class="thumbnail"></p>
<br>
<table  class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Operator</td>
        <td>{{ aircraft_extended.aircraft.operator.company_name }}</td>
    </tr>
    <tr>
        <td>Mass</td>
        <td>{{ aircraft_extended.mass}} gms.</td>    
    </tr>
    <tr>
        <td>Make</td>
        <td>{{ aircraft_extended.make}}</td>    
    </tr>
    <tr>
        <td>Operating Frequency</td>
        <td>{{ aircraft_extended.operating_frequency}} Hz.</td>    
    </tr>
    
    <tr>
        <td>Maximum Endurance</td>
        <td>{{ aircraft_extended.max_endurance}}</td>    
    </tr>
    <tr>
        <td>Maximum Range</td>
        <td>{{ aircraft_extended.max_range}}</td>    
    </tr>
    <tr>
        <td>Maximum Speed</td>
        <td>{{ aircraft_extended.max_speed}}</td>    
    </tr>
    <tr>
        <td>Maximum Endurance</td>
        <td>{{ aircraft_extended.max_endurance}}</td>    
    </tr>
    <tr>
        <td>Maximum Endurance</td>
        <td>{{ aircraft_extended.max_endurance}}</td>    
    </tr>
</table>
<br>
<p><a class="btn btn-primary" href="/launchpad/aircraft-extended/{{aircraft_extended.id}}"><b>Update Details</b></a></p>

</div>
{% endblock %}