{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<div class="row mb-3">
<h2>Flight Log Details</h2>
<p>Use this form to update information about the flight log. </p>
</div>
<div class="row mb-3">
    <div class="col-md-6 themed-grid-col">
        {% if errors %}
    
        {% for err, val in errors.items %}
            {% for v in val %}
                <p class="alert alert-danger" role="alert">{{err }} : {{ v }}</p><br>
            {% endfor %}
        {% endfor %}
        
    {% endif %}
        <form action="{% url 'flightlogs-update' flightlog_id=flightlog.pk %}" method="POST">
            {% csrf_token %}
            {% render_form serializer %}
            <br>
            <button class="btn btn-primary" type="submit" value="Update">Update</button>&nbsp;&nbsp;<a class="btn btn-secondary" href="{% url 'flightlogs-list' %}" role="button">Cancel</a>
        </form>
</div>
</div>
{% endblock %}