<!-- MVP.css quickstart template: https://github.com/andybrewer/mvp/ -->

<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="icon" href="">
    <link rel="stylesheet" href="{% static "jetway/css/mvp.css" %}">

    <meta charset="utf-8">
    <meta name="description" content="My description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aerobridge.in</title>
</head>

<body>
    <header>
        <nav>
            <a href="/"><img alt="Logo" src="{% static "jetway/images/logo_header_photo_1.png" %}" width="400px"></a>
        </nav>
        <h1>A server to connect to India's Digital Sky Infrastructure</h1>
        <p>Want to deploy <mark>your own</mark>?</p>
        <br>
        <p><a href="https://about.openskies.sh/#contact"><b>Get in Touch! &rarr;</b></a></p>
    </header>
    <main>
        <section id="features">
            <header>
                <h2>Flexibility without complexity</h2>
                <p>A few, clean styling options without all the bells and whistles</p>
            </header>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Aerobridge</th>
                    </tr>
                </thead>
                <tr>
                    <td>Standard way to communicate with Digital Sky APIs</td>
                    <td><b>&#10003;</b></td>
                </tr>
                <tr>
                    <td>Integration with PX4 / ArduControl</td>
                    <td><b>&#10003;</b></td>
                </tr>
                <tr>
                    <td>Manage permissions and flight logs</td>
                    <td><b>&#10003;</b></td>
                </tr>
                <tr>
                    <td>RFM integration</td>
                    <td><b>&#10003;</b></td>
                </tr>
                <tr>
                    <td>Easily manage compliance with NPNT</td>
                    <td><b>&#10003;</b></td>
                </tr>
               
            </table>
        </section>
    </main>
    
    <footer>
        <hr>
        <p>
            This project is maintained by <a href="https://github.com/openskies-sh">Openskies</a>
        </p>
    </footer>
</body>

</html>
