<!-- MVP.css quickstart template: https://github.com/andybrewer/mvp/ -->

<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="icon" href="">
    <link rel="stylesheet" href="{% static "jetway/css/mvp.css" %}">

    <meta charset="utf-8">
    <meta name="description" content="My description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aerobridge.in</title>
</head>

<body>
    <header>
        <nav>
            <a href="/"><img alt="Logo" src="{% static "jetway/images/logo_header_photo_1.png" %}" width="400px"></a>
        </nav>
        <h1>A server to connect to India's Digital Sky Infrastructure and your Drone</h1>
        <p>Want to deploy <mark>your own</mark>?</p>
        <br>
        <p><a href="https://webinar.aerobridge.in"><b>Signup for our webinar &rarr;</b></a></p>
        <br><br>
        <p><sup>PRO TIP</sup> Take it for a testdrive:<br><br><a href="https://aerobridgetestflight.herokuapp.com/launchpad"><i>Launchpad &nearr;</i></a></p>
    </header>
    <main>
        <section id="features">
            <header>
                <h2>Flexibility without complexity</h2>
                <p>The Aerobridge project provides a "full-stack" NPNT compliance platform.</p>
            </header>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Aerobridge</th>
                    </tr>
                </thead>
                <tr>
                    <td>Standard way to communicate with Digital Sky APIs</td>
                    <td><b>&#10003;</b></td>
                </tr>
                <tr>
                    <td>Integration with PX4 / ArduControl</td>
                    <td><b>&#10003;</b></td>
                </tr>
                <tr>
                    <td>Manage permissions and flight logs</td>
                    <td><b>&#10003;</b></td>
                </tr>
                <tr>
                    <td>RFM integration</td>
                    <td><b>&#10003;</b></td>
                </tr>
                <tr>
                    <td>Easily manage compliance with NPNT</td>
                    <td><b>&#10003;</b></td>
                </tr>
               
            </table>
        </section>
        <br><hr>
        <section>
            <header>
                <h2>Simple API</h2>
                <p>Explore the Aerobridge API endpoints across all aspects of the management server. You can connect to Digital Sky and also use the server as way to manage and store your operations. See the <a href="https://redocly.github.io/redoc/?url=https://raw.githubusercontent.com/openskies-sh/aerobridge/master/api/aerobridge-1.0.0.resolved.yaml">API Specification</a> or take it for a <a href="/launchpad">test drive</a></p>
            </header>
            <!-- <aside>
                
                <h3>Operators, Aircrafts and Pilots</h3>
                <p>Endpoints for Aircrafts, Pilots for your drone operations</p>
                <ul>
                    <li><a href='/registry/aircraft'>See all aircraft, add new ones</a></li>                    
                    <li><a href='/registry/operators'>Add information about your company</a></li>                    
                    <li><a href='/registry/pilots'>Update certifications and other information about your pilots</a></li>
                </ul>
            </aside>
            <aside>
                <h3>GCS, RFM and Flights</h3>
                <p>Endpoints for flight plans, flight operations and uploading flight logs</p>
                
                <ul>
                    <li><a href='/gcs/flight-plans'>Upload a flight plan</a></li>                    
                    <li><a href='/gcs/flight-operations'>Build a Operation, link plan to a drone</a></li>
                    <li><a href='/gcs/flight-logs'>Upload flight logs from a RFM</a></li>                    
                </ul>
            </aside>
            <aside>
                <h3>Digital Sky API</h3>
                <p>Operations to around registration and permission artefacts and log upload</p>
                <ul>                    
                    <li><a href='/digitalsky/register_aircraft'>Register a airfact</a></li>
                    <li><a href='/digitalsky/all_permissions'>See all permission artefacts</a></li>
                    <li><a href='/digitalsky/apply_permission'>Apply for a permission for a operation</a></li>
                    <li><a href='/digitalsky/logs'>See logs of all Digital Sky transactions</a></li>
                    
                </ul>
            </aside> -->
        </section>


    </main>
    
    <footer>
        <hr>
        <p>
            This project is maintained by <a href="https://github.com/openskies-sh/aerobridge">Openskies</a>
        </p>
    </footer>
</body>

</html>
