{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}

<div class="row mb-3">
    <div class="col-md-6 themed-grid-col">
<h1>Digital Sky Log Details</h1>
<small class="text-muted"> Created at {{ digitalskylog.created_at }} </small>
    <hr>
<br>
<h5><small class="text-muted">ID</small></h5>
<p><code>{{ digitalskylog.id }}</code></p>
<br>
<h5><small class="text-muted">Digital Sky Response Code</small><br>{{ digitalskylog.response_code }}</h5>
<br>
<h5><small class="text-muted">Transaction Type</small><br>{{digitalskylog.txn.prefix }}</h5>
<br>
<h5><small class="text-muted">Aircraft</small><br>{{ digitalskylog.txn.aircraft.model }}</h5>
<br>
<h5><small class="text-muted">Digital Sky Response Details</small></h5>
<br><pre>{{ digitalskylog.response }}</pre>

</div>
</div>
{% endblock %}