{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row mb-3">
    <div class="col-md-6 themed-grid-col">


    <h2>Create a new Incident for {{ aircraft }}</h2>
    <p>Create a new incident report in the database, you can update the status of components via this form.</p>
    <form action="" method="post">
        {% csrf_token %}
        
        {{ form|as_crispy_errors }}
        {% crispy form %}       
        
    </form>
</div>
<div class="col-md-6 themed-grid-col"></div>
</div>
{% endblock %}