{% extends "launchpad/layout.html" %} {% block navbreadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Operators
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Pilots
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}

<div class="row mb-3">

    <h2>Pilots list</h2>
    <p>See all the pilots for your operators as a list below, click to show details or add a new pilot</p>

</div>
<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
    <ul class="list-group list-group-flush">
        {% if pilots %}
            {% for pilot in pilots %}
            <li class="list-group-item"><a href="/launchpad/pilots/{{pilot.id}}/detail">{{ pilot.person.first_name }} {{ pilot.person.last_name }} &mdash; {{ pilot.operator.company.common_name }}</a></li>
            {% endfor %}

        {% else %}
            <li class="list-group-item"><p class="text-muted"><i>There are no pilots added in Aerobridge, once added the list of pilots will be displayed here.</i></p></li>
        {% endif %}        
    </ul>
    <br>
    <p><a class="btn btn-primary" href="/launchpad/pilots/new"><b>&#43; Add a new pilot</b></a></p>
</div>
<div class="col-md-6 themed-grid-col"></div>
</div>
{% endblock %}