{% extends "launchpad/layout.html" %} 
{% block content %}
<div>
    <h2>Signed Aircraft Roster</h2>
    <p>For every aircraft that needs to be registered with Digital Sky, you will first need to sign the details of the drone using your company's public / private key (Manufacturer's key). Use these forms to create that signed JSON, you will have to use the emsigner tool to sign the JSON.</p>
    <ul>
        {% for aircraftroster in aircraftrosters %}
        <li><a href="/launchpad/aircraftrosters/{{aircraftroster.id}}">{{ aircraftroster.drone.model }} </a>&nbsp;&nbsp;<small>&mdash; Last updated at {{ aircraftroster.created_at }} </small></li>
        {% endfor %}
        
    </ul>
    
    <p><a href="/launchpad/aircraftrosters/new"><b>&#43; Crate a new registration request</b></a></p>
</div>
{% endblock %}