{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row mb-3">
    <div class="col-md-6 themed-grid-col">
    <h2>Add new contact</h2>
    <p>A Contact is the legal point of contact with a operators, normally it is the operator's company director or other legal persons. Use the form below to update / assign contacts for your operators.</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br> <br>
        <input class="btn btn-primary"  type="submit" value="Save" />&nbsp;&nbsp;<a class="btn btn-secondary" href="{% url 'contacts-list' %}" role="button">Cancel</a>
    </form>
</div>
<div class="col-md-6 themed-grid-col"></div>
</div>
{% endblock %}