{% extends "launchpad/layout.html" %} 
{% block content %}
<div>
    <h2>Contacts list</h2>
    <p>See all the legal contacts for your operators as a list below</p>
    <ul>
        {% for contact in contacts %}
        <li><a href="/launchpad/contacts/{{contact.id}}">{{ contact.person.first_name }} {{ contact.person.last_name }} {{ contact.operator.company_name }}</a>&nbsp;&nbsp;<small>&mdash; Last updated at {{ contact.created_at }} </small></li>
        {% endfor %}
        
    </ul>
    <p><a href="/launchpad/contacts/new"><b>&#43; Add a new Contact</b></a></p>
</div>
{% endblock %}