{% extends "launchpad/layout.html" %} 
{% block content %}
<div>
    <h2>Credentials</h2>
    <p>You can store credentials, keys for the drone, Digital Sky or other services here. </p>
    <ul>
        {% for credential in credentials %}
        <li><a href="/launchpad/credentials/{{credential.id}}">{{ credential.name }}</a>&nbsp;&nbsp;<small>&mdash; Last updated at {{ credential.created_at }} </small></li>
        {% endfor %}
        
    </ul>
    <p><a href="/launchpad/credentials/new"><b>&#43; Add a Credential</b></a></p>
</div>
{% endblock %}