{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<div>
<h1>Credential Storage - {{ credential.token_type_verbose }}</h1>

<form action="{% url 'credentials-detail' credential_id=credential.pk %}" method="POST">
    {% csrf_token %}
    {% render_form serializer %}
    <h4>Credential Details</h4>
    <pre>{{ serializer.token.value }}</pre>  
    <button type="submit" value="Update">Update</button> 
</form>


<br>
<form action="{% url 'credentials-delete' credential_id=credential.pk %}" method="delete">
    {% csrf_token %}
    <input type="submit" value="🗑️ Delete">
</form>

</div>
{% endblock %}