{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<div>
<h1>Credential Storage - {{ credential.token_type_verbose }}</h1>

<form action="{% url 'credentials-update' credential_id=credential.pk %}" method="POST">
    {% csrf_token %}
    {% render_form serializer %}
    <h4>Credential Details</h4>
    <pre>{{ serializer.token.value }}</pre>  
    <button class="btn btn-primary" type="submit" value="Update">Update</button> &nbsp;&nbsp;<a class="btn btn-secondary" href="{% url 'credentials-list' %}" role="button">Cancel</a>
</form>

<br>

</div>
{% endblock %}