{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
<h1>Credential Storage - {{ credential.token_type_verbose }}</h1>
<br>
<p>You can only change credential name, association and set if the credential is still active. You cannot change the credential itself</p>
<br>
<form action="{% url 'credentials-update' credential_id=credential.pk %}" method="POST">
    {% csrf_token %}
    {% if errors %}
        {% for err in errors.non_field_errors %}
        <p class="alert alert-danger" role="alert">{{ err }}</p>
        {% endfor %}
    {% endif %}
    {% render_form serializer %}
    <br>
    <p>Credential Details</p>
    <code>{{ serializer.token.value }}</code>  
    <br>
    <br>
    <button class="btn btn-primary" type="submit" value="Update">Update</button> &nbsp;&nbsp;<a class="btn btn-secondary" href="{% url 'credentials-list' %}" role="button">Cancel</a>
</form>

<br>

</div>
</div>
{% endblock %}