{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<div>
<h1>Credential Detail - {{ credential.name }}</h1>
<br>
<p>Credential for {{credential.get_token_type_display }}</p>
<br>
<table  class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Credential</td>
        <td><code>{{ serializer.token.value }}</code></td>
    </tr>
    <tr>
        <td>Is Active</td>
        <td>{{ credential.is_active}}</td>    
    </tr>
    <tr>
        <td>Association</td>
        <td>{{ credential.get_association_display }}</td>
    </tr>

    
</table>
<br>
<p><a class="btn btn-primary" href="/launchpad/credentials/{{credential.id}}"><b>Update Details</b></a></p>

</div>
{% endblock %}