{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row mb-3">
    <div class="col-md-6 themed-grid-col">


    <h2>Add a Credential</h2>
    <p>Create a new credential in the database, credentials can be used to sign data, interact with Digital Sky and other services.</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary"  type="submit" value="Save" />&nbsp;&nbsp;<a class="btn btn-secondary" href="{% url 'credentials-list' %}" role="button">Cancel</a>
    </form>
</div>
<div class="col-md-6 themed-grid-col"></div>
</div>
{% endblock %}