{% extends "launchpad/layout.html" %} 
{% block content %}

<div class="row mb-3">
    
    <h2>Credentials</h2>
    <p>You can store credentials, keys for the drone, Digital Sky or other services here. </p>
</div>
<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">

    <ul class="list-group list-group-flush">
        <ul class="list-group list-group-flush">
        {% for credential in credentials %}
        <li class="list-group-item"><a href="/launchpad/credentials/{{credential.id}}">{{ credential.name }}</a>&nbsp;&nbsp;<small class="text-muted">&mdash; Last updated at {{ credential.created_at }} </small></li>
        {% endfor %}
        
    </ul>
    <br><br>
    <p><a class="btn btn-primary" href="/launchpad/credentials/new"><b>&#43; Add a Credential</b></a></p>

</div>
<div class="col-md-4 themed-grid-col"></div>
</div>
{% endblock %}