{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% load static %}
{% block content %}
<h2>Get started with Digital Sky</h2>

<p>Aerobridge is a management server for Operators and Manufacturers. It will help you with mangaging operations, keys and other operational details. It can also interact with DigitalSky, however, as of <mark>March 2021</mark>, DigitalSky is changing. Therefore, all functionality re Digital Sky has been turned off, as Digital Sky opens up for external parties we will integrate with it. You will still need to get the permisssion artefact.</p>

<br>
<h3>Are you a Manufacturer? </h3> 
<p>If you are a manufacturer and want to get compliant with NPNT, the Aerobridge community can help you, you can request to join the community Slack channel <a href="https://forms.gle/qdUgjJHiFQn2Yuhg6">via this form</a>.</p>
    
{% endblock %}