{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% load static %}
{% block content %}
<h2>Get started with Digital Sky</h2>

<p>Aerobridge is a management server for Operators and Manufacturers. It will help you with mangaging operations, keys and other operational details. It can also interact with DigitalSky, however, as of <sup>March 2021</sup>, DigitalSky is changing. Therefore, there are somethings that Aerobridge can and cannot do with respect to DigitalSky:</p>
<ul>
    <li>Request and get Permission Artefacts</li>
    <li>Securely store keys and flight plans</li>
    <li>Upload signed logs to Digital Sky</li>
</ul>
<br>
<p>Before you begin with making Digital Sky Commands, you need to have the following, for more information, see the <a href="https://public-prd-dgca.s3.ap-south-1.amazonaws.com/InventoryList/headerblock/drones/DGCA%20RPAS%20Guidance%20Manual.pdf">RPAS Guidance Manual</a>:</p>
<ul>
    <li>Register as a Operator with the Digital Sky</li>
    <li>Get a Unique Indentification Number (UIN) for your aircraft, see the <a href="{% static "jetway/images/uin-application.jpg" %}">application flow</a></li>
    <li>Get a Unmanned Aircraft Renewal permit (UAOP), <a href="{% static "jetway/images/uaop-application.jpg" %}">application flow</a></li>
</ul>
{% endblock %}