{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% load static %}
{% block content %}
<div class="row mb-4">
<h3>Get started with Digital Sky</h3>

<p>Aerobridge is a management server that can be flexibly used by Operators and Manufacturers. It will help you with mangaging operations, public or private keys and other operational actions. It can also interact with DigitalSky, however, as of <mark>May 2021</mark>, DigitalSky is changing. Therefore, all functionality re Digital Sky had to beturned off, and as Digital Sky opens up for external parties we will integrate with it</p>
</div>
<div class="row mb-3">
<h3>Are you a Manufacturer? </h3> 
<p>If you are a manufacturer and want to get compliant with NPNT, the Aerobridge community can help you, you can request to join the community Slack channel <a href="https://forms.gle/qdUgjJHiFQn2Yuhg6">via this form</a>.</p>
</div>
{% endblock %}