{% extends "launchpad/layout.html" %} 
{% block content %}

<div class="row mb-3">
    
    <h2>Flight Logs</h2>
    <p>See all the signed flight logs, these will be sent to Digital Sky and also be maintained for your records</p>
</div>
<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">

    <ul class="list-group list-group-flush">
        {% if flightlogs %}
            {% for flightlog in flightlogs %}
            <li class="list-group-item"><a href="/launchpad/flightlogs/{{flightlog.id}}/detail">{{ flightlog.operation.name }}</a>&nbsp;&nbsp;<small class="text-muted">&mdash; Last updated at {{ flightlog.created_at }}</small>&nbsp;&nbsp;{% if flightlog.signed_flight_log %} <mark>Log Signed</mark> {% else %}<a href="/launchpad/flightlogs/{{flightlog.id}}/sign">Sign log</a>{% endif %}</li>
            {% endfor %}
        {% else %}
            <li class="list-group-item"><p class="text-muted"><i>There are no flight logs added in Aerobridge, once added the list of flight logs will be displayed here.</i></p></li>
        {% endif %}

    </ul>
    <br>
    <p><a class="btn btn-primary" href="/launchpad/flightlogs/new"><b>&#43; Add a new flight log</b></a></p>

</div>
<div class="col-md-4 themed-grid-col"></div>
</div>
{% endblock %}