{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<div>
<h1>Flight Plan Detail - {{ flightplan.name }}</h1>
<br>
<br>
<table  class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>GeoJSON</td>
        <td>{{ flightplan.geo_json}}</td>    
    </tr>
    <tr>
        <td>Start</td>
        <td>{{ flightplan.start_datetime}}</td>
    </tr>
    <tr>
        <td>End</td>
        <td>{{flightplan.end_datetime}}</td>
    </tr>

</table>
<br>
<p><a class="btn btn-primary" href="/launchpad/flightplans/{{flightplan.id}}"><b>Update Details</b></a></p>

</div>
{% endblock %}