{% extends "launchpad/layout.html" %} 
{% block content %}
<div>
    <h2>Flight Permissions</h2>
    <p>See all the flight permission objects, these will be sent to Digital Sky to get a Permission Artefact </p>
    <ul>
        {% for flightpermission in flightpermissions %}
        <li><a href="/launchpad/flightpermissions/{{flightpermission.id}}">{{ flightpermission.name }}</a>&nbsp;&nbsp;<small>&mdash; Last updated at {{ flightpermissions.created_at }} </small></li>
        {% endfor %}
        
    </ul>
    <p><a href="/launchpad/flightpermissions/new"><b>&#43; Add a new flight permission object</b></a></p>
</div>
{% endblock %}