{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<div class="row mb-3">
<h2>Update Flight Permission - {{ flightpermission.operation.name }}</h2>
</div>
<div class="row mb-3">
    <div class="col-md-6 themed-grid-col">


<form action="{% url 'flightpermissions-detail' flightpermission_id=flightpermission.pk %}" method="POST">
    {% csrf_token %}
    {% render_form serializer %}
    <br>
    <button class="btn btn-primary" type="submit" value="Update">Update</button>
</form>
</div>
</div>
{% endblock %}