{% extends "launchpad/layout.html" %}
{% block content %}

<div class="row mb-3">

    <h2>Permission Request submitted</h2>
    <p>Your request for permission has been sent to DigitalSky. If you are looking to download a permission artefact, please use the use the <a href="/launchpad/flightpermissions">Flight Permissions</a> menu.  To see the response from the DigitalSky, you can review the <a href="/launchpad/digitalskylogs">DigitalSky Logs</a>. For a step-by-step review of the flow, please review the <a href="/launchpad/flight-permissions-read-first">README</a></p>

</div>

{% endblock %}