{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row mb-3">
    <div class="col-md-6 themed-grid-col">
    <h2>Add new flight log</h2>
    <p>Create a new flight log object that will be sent to Digital Sky, use the GCS to extract signed flight logs from the drone and upload it here.</p>
    <form action="" method="post">
        {% csrf_token %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {% crispy form %}
        <br> <br>
    <input class="btn btn-primary"  type="submit" value="Save" />&nbsp;&nbsp;<a class="btn btn-secondary" href="{% url 'flightlogs-list' %}" role="button">Cancel</a>
    </form>
</div>
<div class="col-md-6 themed-grid-col"></div>
</div>
{% endblock %}