{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<div>
<h1>Flight Operation Detail - {{ flightoperation.name }}</h1>
<br>
<br>
<table  class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Name</td>
        <td>{{ flightoperation.drone.model }}</td>
    </tr>
    <tr>
        <td>GeoJSON</td>
        <td>{{ flightoperation.flight_plan.geo_json}}</td>    
    </tr>
    <tr>
        <td>Type of Operation</td>
        <td>{{ flightoperation.get_type_of_operation_display}}</td>
    </tr>
    </tr>
    <tr>
        <td>Purpose</td>
        <td>{{ flightoperation.purpose}}</td>
    </tr>
    </tr>
    <tr>
        <td>Start</td>
        <td>{{ flightoperation.flight_plan.start_datetime }}</td>
    </tr>
    <tr>
        <td>End</td>
        <td>{{ flightoperation.flight_plan.end_datetime }}</td>
    </tr>

</table>
<br>
<p><a class="btn btn-primary" href="/launchpad/flightoperations/{{flightoperation.id}}"><b>Update Details</b></a></p>

</div>
{% endblock %}