{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% load static %}
{% block content %}
<h2>Get started with Flight Permissions, generally the following is the flow for permission artefacts:</h2>

<ul>
    <li>Create a Flight Plan (Upload Coordinates file as GeoJSON in Aerobridge)</li>
    <li>Create a Flight Operation: Assign a flight plan to a operation and a drone, you will have to input additional fields around the operation.</li>
    <li>Before you submit a request, you will need to create a "Permission Application", think of it as building a Application packet for requesting the permission artefact</li>
    <li>You can then download a permission artefact or apply for one if you have done so. </li>
    <li>After the operation is complete the signed flight logs from the drone can be uploaded to the server.</li>
    
</ul>

{% endblock %}