{% extends "launchpad/layout.html" %}
{% load rest_framework %}
{% load static %}
{% block content %}
<div class="row mb-3">
    <h2>Get started with Flight Permissions</h2>
    <p>Flight permissions must be obtained via Digital Sky, you can store them here. The following is the flow for
        permission artefacts:</p><br><br>
</div>
<div class="row mb-3">
    <ol class="list-group list-group-numbered">
        <li class="list-group-item">Create a Flight Plan (Upload Coordinates file as GeoJSON in Aerobridge)</li>
        <li class="list-group-item">Create a Flight Operation: Assign a flight plan to a operation and a drone, you will
            have to input additional fields around the operation.</li>
        <li class="list-group-item">Create a Flight Permission Object, this will have the details of the operation
            against which the permission is requested. As of May 2021,you have to use the Digital Sky Application to
            submit the flight plan.</li>
        <li class="list-group-item">Once a flight permission object is created, you can then use the "<a
                href="/launchpad/digitalsky-flight-permissions">Request Flight Permission</a>" link in the DigitalSky
            menu to request a permission artefact.</li>
        <li class="list-group-item">Once the flight permission isssued, you can see the permission artefact at in the
            "<a href="/launchpad/flightpermissions">Flight Permissions</a>" menu in the "Plans and Operations" list</li>
        <li class="list-group-item">After the operation is complete the signed flight logs from the drone can be
            uploaded to the server.</li>
    </ol>
</div>
{% endblock %}