{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<div class="row mb-3">
<h1>Flightplan Details</h1>
</div>
<div class="row mb-3">
    <div class="col-md-6 themed-grid-col">

<form action="{% url 'flightplans-update' flightplan_id=flightplan.pk %}" method="POST">
    {% csrf_token %}   
    
    {% render_field serializer.name style=style %}
    {% render_field serializer.geo_json style=style %}
    {% render_field serializer.start_datetime style=style %}
    {% render_field serializer.end_datetime style=style %}
    <br>
    <button class="btn btn-primary" type="submit" value="Update">Update</button>
</form>
</div>
</div>
{% endblock %}