<!-- MVP.css quickstart template: https://github.com/andybrewer/mvp/ -->
<!DOCTYPE html>
{% load static %}{% load i18n %}
<html lang="en">

<head>
    <link rel="icon" href="">
    <link rel="stylesheet" href="{% static "jetway/css/mvp.css" %}">

    <meta charset="utf-8">
    <meta name="description" content="My description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aerobridge.in</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">Your Company Name Here (e.g. Bharat Drones Ltd.)</a>
            <ul>
                <li><a href="#">Operators</a>
                    <ul>
                        <li><a href="/launchpad/people">People</a></li>
                        <li><a href="/launchpad/addresses">Addresses</a></li>
                        <li><a href="/launchpad/operators">Company</a></li>
                        <li><a href="/launchpad/contacts">Contacts</a></li>
                        <li><a href="/launchpad/pilots">Pilots</a></li>
                        <li><a href="/launchpad/activities">Activities</a></li>
                    </ul>
                </li>
                <li><a href="#">Equipment</a>
                    <ul>                        
                        <li><a href="/launchpad/manufacturers">Manufacturers</a></li>
                        <li><a href="/launchpad/firmwares">Firmware</a></li>
                        <li><a href="/launchpad/engines">Engine</a></li>
                        <li><a href="/launchpad/aircrafts">Aircraft</a></li>
                        <li><a href="/launchpad/aircraftrosters">Sign Drone Data</a></li>
                    </ul>
                </li>
                <li><a href="#">Plans and Operations</a>
                    <ul>
                        <li><a href="/launchpad/flight-permissions-read-first">Read first</a></li>
                        <li><a href="/launchpad/flightplans">Plans</a></li>
                        <li><a href="/launchpad/flightoperations">Operations</a></li>
                        <li><a href="/launchpad/flightpermissions">Create Permisssion Application</a></li>
                        <li><a href="/launchpad/flightpermissionartefacts">Download Permisssion Artefact</a></li>
                        <li><a href="/launchpad/flightlogs">Upload signed logs from GCS</a></li>
                    </ul>
                </li>
                <li><a href="#">Digital Sky</a>
                    <ul>
                        <li><a href="/launchpad/digitalsky-read-first">Read first</a></li>
                        <li>Apply Drone Registration</li>
                        <li>Apply Flight Permission</li>
                        <li><a href="/launchpad/digitalskytransactions">See Transaction History</a></li>
                        <li><a href="/launchpad/digitalskylogs">See Digital Sky Logs</a></li>
                    </ul>
                </li>
                <li><a href="#">Credentials</a>
                    <ul>
                        <li><a href="/launchpad/credentials">Tokens Manager</a></li>
                        
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <hr>
        <p>
            Get Aerobridge for your company! Contact us via <a href="https://about.openskies.sh/#contact">our homepage</a>
        </p>
    </footer>
</body>

</html>
