<!-- MVP.css quickstart template: https://github.com/andybrewer/mvp/ -->
<!DOCTYPE html>
{% load static %}{% load i18n %}
<html lang="en">

<head>
    <link rel="icon" href="">
    <link rel="stylesheet" href="{% static "jetway/css/mvp.css" %}">

    <meta charset="utf-8">
    <meta name="description" content="My description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aerobridge.in</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">Openskies Aerial Technology Ltd. (Management Server)</a>
            <ul>
                <li><a href="#">Company</a>
                    <ul>
                        <li><a href="/launchpad/people">People</a></li>
                        <li><a href="/launchpad/addresses">Addresses</a></li>
                        <li><a href="/launchpad/operators">Operators</a></li>
                    </ul>
                </li>
                <li><a href="#">Equipment</a>
                    <ul>                        
                        <li><a href="">Manufacturers</a></li>
                        <li><a href="">Firmware</a></li>
                        <li><a href="/launchpad/aircrafts">Aircraft</a></li>
                    </ul>
                </li>
                <li><a href="#">Plans and Operations</a>
                    <ul>
                        <li><a href="">Plans</a></li>
                        <li><a href="">Operations</a></li>
                        <li><a href="">Permisssions</a></li>
                        <li><a href="">Upload logs from GCS</a></li>
                    </ul>
                </li>
                <li><a href="#">Digital Sky</a>
                    <ul>
                        <li><a href="">Drone Registrations</a></li>
                        <li><a href="">Upload Flight Logs</a></li>
                        <li><a href=""></a>Transaction Logs</li>
                        <li><a href=""></a>History</li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <hr>
        <p>
            This project is maintained by <a href="https://github.com/openskies-sh/aerobridge">Openskies</a>
        </p>
    </footer>
</body>

</html>
