{% extends "launchpad/layout.html" %} 
{% block content %}
<div>
    <h2>Manufacturers</h2>
    <p>You may choose to source drones and their firmware via different manufacturers, or manufacture it yourself, use the form here to maintain all Manufacturers. You will be able to link a Manufacturer to a Air</p>
    <ul>
        {% for manufacturer in manufacturers %}
        <li><a href="/launchpad/manufacturers/{{manufacturer.id}}">{{ manufacturer.common_name }}</a>&nbsp;&nbsp;<small>&mdash; Last updated at {{ manufacturer.created_at }} </small></li>
        {% endfor %}
        
    </ul>
    <p><a href="/launchpad/manufacturers/new"><b>&#43; Add a manufacturer</b></a></p>
</div>
{% endblock %}