{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row mb-3">
    <div class="col-md-6 themed-grid-col">


    <h2>Create a Operator</h2>
    <p>Create a new operator in the database, you can then assign them drones, pilots etc. after that.</p>
    <form action="" method="post">
        {% csrf_token %}
        
   
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Save</button>&nbsp;&nbsp;<a class="btn btn-secondary" href="{% url 'operators-list' %}" role="button">Cancel</a>
    </form>
</div>
<div class="col-md-6 themed-grid-col"></div>
</div>
{% endblock %}