{% extends "launchpad/layout.html" %}
{% block content %}

<div class="row mb-3">

    <h2>People</h2>
    <p>A list of everyone (Pilots / Contacts) on the server, click to see / change details of an individual person,
        people can be assigned to Operators, Manufacturers, Tokens.</p>
</div>
<div class="row mb-3">
    <div class="col-md-6 themed-grid-col">

        <ul class="list-group list-group-flush">
            {% for person in people %}
            <li class="list-group-item"><a href="/launchpad/people/{{person.id}}">{{ person.first_name }}
                    {{ person.last_name }}</a>&nbsp;&nbsp;<small>&mdash; Last updated at {{ person.created_at }}
                </small></li>
            {% endfor %}

        </ul>
        <br>
        <p><a class="btn btn-primary" href="/launchpad/people/new"><b>&#43; Add a person</b></a></p>
    </div>
    <div class="col-md-6 themed-grid-col"></div>
</div>
{% endblock %}