{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row mb-3">
    <div class="col-md-6 themed-grid-col">


    <h2>Create a Person</h2>
    <p>Create a new person in the database, you can then assign them a role e.g. pilot, contact etc. You can also assign a person to a token / contact. </p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Save" />
    </form>
</div>
<div class="col-md-6 themed-grid-col"></div>
</div>
{% endblock %}