{% extends "launchpad/layout.html" %}
{% load rest_framework %}
{% block content %}

<h2>Person Details</h2>
<p>Details of person in Aerobridge, you can assign a person as a pilot, contact for a operator etc. </p>
<br>

<br>
<table  class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tr>
        <td>Social Security Number</td>
        <td>{{ person.social_security_number }}</td>    
    </tr>
    <tr>
        <td>ID Number</td>
        <td>{{ person.identification_number }}</td>
    </tr>
    <tr>
        <td>Full Name</td>
        <td><b>{{ person.first_name}} {{person.last_name}}</b></td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{person.email}}</td>
    </tr>
    <tr>
        <td>Phone Number</td>
        <td>{{person.phone_number}}</td>
    </tr>
    
</table>
<br>
<p><a class="btn btn-primary" href="/launchpad/people/{{person.id}}"><b>Update Details</b></a></p>


{% endblock %}