{% extends "launchpad/layout.html" %} 
{% block content %}

<div class="row mb-3">
    
    <h2>Pilots list</h2>
    <p>See all the pilots for your operators as a list below</p>
</div>
<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">

    <ul>
        {% for contact in contacts %}
        <li><a href="/launchpad/pilots/{{pilot.id}}">{{ pilot.person.first_name }} {{ pilot.person.last_name }} {{ pilot.operator.company_name }}</a>&nbsp;&nbsp;<small>&mdash; Last updated at {{ pilot.created_at }} </small></li>
        {% endfor %}
        
    </ul>
    <p><a class="btn btn-primary" href="/launchpad/pilots/new"><b>&#43; Add a new pilot</b></a></p>
    
</div>
<div class="col-md-4 themed-grid-col"></div>
</div>
{% endblock %}