{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% load static %}{% load i18n %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Trusted Flights
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Flight Plan detail
      </li>
    </ol>
  </nav>
<!-- Bootstrap core CSS -->
<link href="{% static "jetway/leafletjs/leaflet.css" %}" rel="stylesheet">    

<div>
<h2>Flight Plan Detail - {{ flightplan.name }}</h2>
<br>
<p>Details of the flight plan as GeoJSON are shown below with a Openstreetmap as a basemap background</p>
<table class="table">
    <thead>
        <tr>
            
            <th></th>
        </tr>
    </thead>
    <tr>
        
        <td><div id="flight_plan" class="map"></div></td>    
    </tr>    
</table>

<p class="text-muted">Last Updated at {{ flightplan.updated_at|date:'Y-m-d H:i' }} </p>
<br>
{% if flightplan.is_editable %}
    <p><a class="btn btn-primary" href="/launchpad/flightplans/{{flightplan.id}}"><b>Update Details</b></a></p>
    {% else %}    
    <p class='text-muted'>The operation against this plan is signed and cannot be edited, create a new plan to update it.</p>
    {% endif %}
    

</div>

<script src="{% static "jetway/leafletjs/leaflet.js" %}" type="text/javascript"></script>
<script src="{% static "jetway/leafletjs/tile.stamen.js" %}" type="text/javascript"></script>

<script type="text/javascript">
    var map = L.map('flight_plan', {zoomControl: false,   doubleClickZoom: false, 
        closePopupOnClick: false, 
        dragging: false, 
        trackResize: false,
        touchZoom: false,
        scrollWheelZoom: false});        
        var fg = L.featureGroup().addTo(map);
        let geo_json = {{ flightplan.geo_json|safe }};
        map.addLayer(new L.StamenTileLayer("toner-lite", {
                        detectRetina: true
                    }));                           
        L.geoJSON(geo_json).addTo(fg);
        map.fitBounds(fg.getBounds());
    

</script>

{% endblock %}