{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% load static %}{% load i18n %}

{% block content %}
<!-- Bootstrap core CSS -->
<link href="{% static "jetway/leafletjs/leaflet.css" %}" rel="stylesheet">    


<div>
<h2>Flight Plan Detail - {{ flightplan.name }}</h2>
<br>
<br>
<table  class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Map</td>
        <td><div id="flight_plan" class="map"></div></td>    
    </tr>

    
</table>
<br>
{% if flightplan.is_editable %}
    <p><a class="btn btn-primary" href="/launchpad/flightplans/{{flightplan.id}}"><b>Update Details</b></a></p>
    {% else %}
    
    <p class='text-muted'>The operation against this plan is signed and cannot be edited, create a new plan to update it.</p>
    {% endif %}
    

</div>

<script src="{% static "jetway/leafletjs/leaflet.js" %}" type="text/javascript"></script>
<script src="{% static "jetway/leafletjs/L.KML.js" %}" type="text/javascript"></script>
<script type="text/javascript">
    var map = L.map('flight_plan', {zoomControl: false,   doubleClickZoom: false, 
        closePopupOnClick: false, 
        dragging: false, 
        trackResize: false,
        touchZoom: false,
        scrollWheelZoom: false});        
        let raw_kml = '{{ flightplan.kml|safe }}';
        // Create new kml overlay
        const parser = new DOMParser();
        const kml = parser.parseFromString(raw_kml, 'text/xml');
        const track = new L.KML(kml);
        map.addLayer(track);
        map.fitBounds(track.getBounds());
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

</script>

{% endblock %}