{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Aircraft
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Aircraft Component Details
      </li>
    </ol>
  </nav>
<div>
<h2>Component Detail</h2>

<br>
<table  class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Master Component</td>
        <td>{{aircraft_component.master_component.name }}</td>
    </tr>
    <tr>
        <td>Supplier Part ID</td>
        <td>{{ aircraft_component.supplier_part_id }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ aircraft_component.master_component.name }}</td>    
    </tr>
    <tr>
        <td>Custody Status</td>
        <td>{{ aircraft_component.get_custody_status_display }}</td>    
    </tr>
    <tr>
        <td>Custody on</td>
        <td>{{ aircraft_component.custody_on}}</td>    
    </tr>
    <!-- <tr>
        <td>Is Active:</td>
        <td>{{ aircraft_component.is_active}}</td>    
    </tr> -->
    
</table>
<br>
<p><a class="btn btn-primary" href="/launchpad/aircraft-components/{{aircraft_component.id}}"><b>Update Details</b></a>&nbsp;&nbsp;{% if aircraft_component_signature %}<a class="btn btn-secondary" href="/launchpad/aircraft-components-signature/{{aircraft_component_signature.id}}/detail"><b>See component signature</b></a>{% endif %}</p>

</div>
{% endblock %}