{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Aircraft
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Aircraft Component Details
      </li>
    </ol>
  </nav>
  <div class="alert alert-primary" role="alert">
    <span class="bi bi-bell-fill"></span> You are in the blueprints section of Aerobridge, make sure you read the instructions before proceeding. Changes here may cause disruptions in your manufacturing operations. 
  </div>
<div>
<h2>Component Detail</h2>

<br>
<table  class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Master Component</td>
        <td><a href="/launchpad/aircraft-master-components/{{aircraft_component.master_component.id }}/detail">{{aircraft_component.component_common_name}}</a></td>
    </tr>
    <tr>
        <td>Aerobridge ID</td>
        <td><code>{{ aircraft_component.aerobridge_id }}</code></td>
    </tr>
    <tr>
        <td>Custody Status</td>
        <td><mark>{% if aircraft_component.status == 10 %}OK{% elif aircraft_component.status == 50 %}Damaged{% elif aircraft_component.status == 60 %}Destroyed{% elif aircraft_component.status == 65 %}Rejected{% elif aircraft_component.status == 70 %}Lost {% elif aircraft_component.status == 85 %}Reutned{% else %}Unknown{% endif %}</mark></td>    
    </tr>
    
    <!-- <tr>
        <td>Is Active:</td>
        <td>{{ aircraft_component.is_active}}</td>    
    </tr> -->
    
</table>
<br>
<p><a class="btn btn-primary" href="/launchpad/aircraft-components/{{aircraft_component.id}}"><b>Update Details</b></a></p>

</div>
{% endblock %}