{% extends "launchpad/layout.html" %}
{% block navbreadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      Manufacturing
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <i class="bi bi-award-fill"></i> Verify Aircraft Components
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}

<div class="row mb-3">

  <h2><i class="bi bi-award-fill"></i> Verify Aircraft Component</h2>
  <p>You can verify the authencity of a component by checking on the Managment Server. Depending on the configuration a
    component is either embossed on the part and by default it is a three word combination for e.g.
    <code>lexical-safari-prognosis</code></p>
</div>
<div class="row mb-3">
  <div class="col-md-6 themed-grid-col">

    <form action="{% url 'verify-aircraft-components' %}" method="get">
      <div class="mb-12">
        <div class="row">
          <label for="aerobridge_id_1" class="form-label">Enter First name</label>
          <div class="col-md-3">
            <input type="text" name="q1" class="form-control" id="aerobridge_id_1" aria-describedby="aerobridge_id_help">
          </div>  
          <div class="col">-</div>
          <div class="col-md-3">
            <input type="text" name="q2" class="form-control" id="aerobridge_id_2" aria-describedby="aerobridge_id_help">
          </div>
          <div class="col">-</div>
          <div class="col-md-3">
            <input type="text" name="q3" class="form-control" id="aerobridge_id_3" aria-describedby="aerobridge_id_help">
          </div>
        </div>
        <div id="aerobridge_id_help" class="form-text">Your Aerobridge ID should be embossed on the component</div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Verify</button>
    </form>
    <br><br>
    <div class="col-md-6">
      <h3>Your Verification Status</h3>
      <ul class="list-group list-group-flush">
        {% if aircraft_components %}
        {% for aircraft_c in aircraft_components %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <i class="bi bi-check-circle-fill"></i>
            <code>{{aircraft_c.aerobridge_id}}</code>
          </div>

        </li>
        {% endfor %}
        {% else %}
        <li class="list-group-item">
          <p class="text-muted"><i>No Components Found</i></p>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="col-md-4 themed-grid-col"></div>
</div>
{% endblock %}