{% extends "launchpad/layout.html" %} 
{% load rest_framework %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Aircraft
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Aircraft Component Details
      </li>
    </ol>
  </nav>
  <div class="alert alert-primary" role="alert">
    <span class="bi bi-bell-fill"></span> You are in the blueprints section of Aerobridge, make sure you read the instructions before proceeding. Changes here may cause disruptions in your manufacturing operations. 
  </div>
<div>
<h2>Component Detail</h2>

<br>
<table  class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>Master Component</td>
        <td><a href="/launchpad/aircraft-master-components/{{aircraft_component.master_component.id }}/detail">{{aircraft_component.component_common_name}}</a></td>
    </tr>
    <tr>
        <td>Supplier Part ID</td>
        <td>{{ aircraft_component.supplier_part_id }}</td>
    </tr>
    <tr>
        <td>Custody Status</td>
        <td>{% if aircraft_component.status == 10 %}OK {% elif aircraft_component.status == 50 %} Damaged{% elif aircraft_component.status == 60 %} Destroyed{% elif aircraft_component.status == 65 %} Rejected{% elif aircraft_component.status == 70 %} Lost {% elif aircraft_component.status == 85 %} Reutned {% else %} {% endif %}</td>    
    </tr>
    <tr>
        <td>Custody on</td>
        <td>{{ aircraft_component.custody_on}}</td>    
    </tr>
    <!-- <tr>
        <td>Is Active:</td>
        <td>{{ aircraft_component.is_active}}</td>    
    </tr> -->
    
</table>
<br>
<p><a class="btn btn-primary" href="/launchpad/aircraft-components/{{aircraft_component.id}}"><b>Update Details</b></a>&nbsp;&nbsp;{% if aircraft_component_signature %}<a class="btn btn-secondary" href="/launchpad/aircraft-components-signature/{{aircraft_component_signature.id}}/detail"><b>See component signature</b></a>{% endif %}</p>

</div>
{% endblock %}