{% extends "launchpad/layout.html" %} 
{% block navbreadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Manufacturing
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Aircraft Components
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}

<div class="alert alert-primary" role="alert">
  <span class="bi bi-bell-fill"></span> You are in the blueprints section of Aerobridge, make sure you read the instructions before proceeding. Changes here may cause disruptions in your manufacturing operations. 
</div>
<div class="row mb-3">
    
    <h2>Aircraft Components</h2>
    <p>A list of all the components in the company, a component can be linked to an aircraft. Below are a list of components in the management server.</p>
</div>
<div class="row mb-3">
    <div class="col-md-10 themed-grid-col">

      <table class="table">
        <thead>
          <td><b>Name</b></td>
          <td><b>Status</b></td>
          <td><b>Aircraft</b></td>
          <td><b>Aerobridge ID</b></td>
        </thead>
        
        {% if aircraft_components %}
            {% for aircraft_c in aircraft_components.results %}  
        <tbody>
          <tr>
            <td><a href="/launchpad/aircraft-components/{{aircraft_c.id}}/detail">{{ aircraft_c.component_common_name }}</a></td>
            <td><button type="button" class="btn {% if aircraft_c.status == 10 %}btn-outline-ok{% else %}btn-outline-warning{% endif %}" disabled>{{aircraft_c.status_display}}</button></td>
            <td>{% if aircraft_c.aircraft_details %}{% for aircraft_detail in aircraft_c.aircraft_details %} <a href="/launchpad/aircrafts/{{aircraft_detail.id}}/detail">{{aircraft_detail.name}}</a> {% endfor %}{% endif %}</td>
            <td><code>{{aircraft_c.aerobridge_id}}</code> </td>


          </tr>

          {% endfor %}
          {% else %}
          <tr>
            <td><p class="text-muted"><i>You have not added any components, once added the list of the components will be displayed here.</i></p></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {% endif %}
        </tbody>


      </table>

    <br>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
          {% if aircraft_components.links.previous %}
          
          <li class="page-item">
            <a class="page-link" href="{{ aircraft_components.links.previous }}">Previous</a>
          </li>  
            
          {% else %}
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
          {% endif %}
          &nbsp;&nbsp;
          {% if aircraft_components.pages %}  
          <li class="page-item" aria-current="page">
            
            <small>Page  {{aircraft_components.page}} of {{ aircraft_components.pages }} </small>
          </li>        
              <small></small>
          {% endif %}
          &nbsp;&nbsp;
          {% if aircraft_components.links.next %}   
          <li class="page-item">
            <a class="page-link" href="{{ aircraft_components.links.next }}">Next</a>
          </li>         
          
          {% else %}
          <li class="page-item disabled">
            <a class="page-link">Next</a>
          </li>
          {% endif %}
      </ul>
    </nav>

    <br><br>
    <br>
    <p><a class="btn btn-primary" href="/launchpad/aircraft-components/new"><b>&#43; Create new aircraft component</b></a></p>
    
</div>
<div class="col-md-4 themed-grid-col"></div>
</div>
{% endblock %}